.billing-container {
  width: 90%;
}

.info-container {
  width: 100%;
  margin: 1em 0;
  padding: 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
  border-radius: 2px;
}

.diagram-map-container {
  width: 100%;
  margin: 1em 0;
  padding: 0px;
  background-color: #F8FBFF !important;
}

.billing-row {
  margin: 0px;
}

.invoice-number {
  font-size: 0.75em;
  font-weight: 500;
  color: #767070;
}

.bill-to-label {
  text-align: center;
  color: #666769;
}

.billing-title-section {
  border: 1px solid #c9c9c9;
}

.billing-section {
  border: 1px solid #c9c9c9;
  border-bottom: 0px;
  padding-bottom: 1.9em !important; 
}

.info-section {
  padding: 1em;
}

.info-labels {
  padding: 0.3em 1em;
  font-weight: 400;
}

.font-weight-bold {
  font-weight: bold;
}

.invoice-new-balance {
  color: #ffae00;
  font-size: 1.3em;
  margin-top: 1em;
  font-weight: bolder;
}

.active-status {
  color: #4fe23f;
}

.inactive-status {
  color: #e81212;
}

.pills {
  display: flex;
}

.pills > li {
  height: 27px;
  margin-top: 1em;
  font-size: 11px;
  background-color: #EEEEEE;
}

.pills > li:first-child > a{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pills > li:last-child > a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pills > .active {
  background-color: #ffffff;
}

.pills > li > a {
  color: #b2adad;
  padding: 5px 25px;
  border: 0.5px solid #dbdbdb;
  cursor: pointer;
}

.pills > li > a:hover {
  background-color: #ffffff;
}

.pills > .active > a {
  color: #000000;
}

.diagram-image {
  max-width: 100%;
  margin-top: 1em; 
}

.diagram-title {
  position: absolute;
  left: 50%;
  top: 0.5em;
  font-weight: bold;
}

@media (max-width: 550px) {
  .diagram-title {
    left: 10%;
  }
}