$primary-color: #dc3545;
$secondary-color: #ffffff;
$third-color: #00697a;

.video-list-item {
  min-height: 250px;
  background: #f8f9fa;
  border: 1.5px solid $third-color;
  border-radius: 15px;
  padding: 1em 1em 0 1em;
  white-space: nowrap;
  overflow: hidden;
}

.list-section {
  background-color: secondary-color;
  padding: 3em;
}

.cZIHbj, .gbjwWh {
  font-size: xx-large;
  font-weight: 800;
  color: $primary-color;
}

.btn-play {
  transition: font-size 0.2s, color 0.2s;
  font-size: 6em;
}

.btn-play:hover { 
  font-size: 6.5em;
  color: $primary-color;
}

.active-video {
  font-size: 6.5em;
  color: $third-color;
}

.time-label {
  color: $primary-color;
  font-weight: 500;
}

.itemName {
  font-size: 18px;
  color: $primary-color;
}

.edit-icons{
  font-size: 1.5em;
  color: $primary-color;
  float: left;
  margin-top: 1.6em;
}

.delete-icons{
  font-size: 1.5em;
  color: $primary-color;
  float: right;
  margin-top: 1.5em;
}

.button-actions-container {
  padding: 0 8%;
}