$primary-color: #dc3545;
$secondary-color: #ffffff;
$third-color: #00697a;

// general styles
html, body, #root {
  height: 100%;
  background-color: $secondary-color;
  overflow-x: hidden;
}

#root i {
  cursor: pointer;
}

#root button {
  cursor: pointer;
}

// video list styles
.video-list-item {
  min-height: 250px;
  background: #f8f9fa;
  border: 1.5px solid $third-color;
  border-radius: 15px;
  padding: 1em 1em 0 1em;
  white-space: nowrap;
  overflow: hidden;
}

.list-section {
  background-color: secondary-color;
  padding: 3em;
}

.cZIHbj, .gbjwWh {
  font-size: xx-large;
  font-weight: 800;
  color: $primary-color;
}

.btn-play {
  transition: font-size 0.2s, color 0.2s;
  font-size: 6em;
}

.btn-play:hover { 
  font-size: 6.5em;
  color: $primary-color;
}

.active-video {
  font-size: 6.5em;
  color: $third-color;
}

.time-label {
  color: $primary-color;
  font-weight: 500;
}

.itemName {
  font-size: 18px;
  color: $primary-color;
}

.edit-icons{
  font-size: 1.5em;
  color: $primary-color;
  float: left;
  margin-top: 1.6em;
}

.delete-icons{
  font-size: 1.5em;
  color: $primary-color;
  float: right;
  margin-top: 1.5em;
}

.button-actions-container {
  padding: 0 8%;
}



// video player styles
.player-section {
  text-align: center;
}

.video-player {
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
}



.btn-open-form {
  border: 2px solid $secondary-color;
  color:  $secondary-color;
  background-color: transparent;
  border-radius: 8px;
}

.btn-open-form:hover {
  border: 2px solid $primary-color;
  background-color: $primary-color;
}

.modal-form-header{
  background-color: $primary-color;
  color: aliceblue;
  font-weight: 500;
}

.modal-form-header button span {
  color: #ffffff;
  font-size: xx-large;
}

.video-url {
  height: 0.6em;
  width: 100%;
  border-radius: 5px;
  font-size: 17px;
  padding: 26px;
  color: #5d5d5d;
  outline: 0 none;
  border: 0px;
  border-bottom: 1.2px solid gray;
  float: right;
}

.video-url:focus {
  border-bottom: 1.2px solid $third-color;
}

.footer-section {
  background-color: $third-color;
  padding: 1.2em 3.5em
}

.btn-search-new-video {
  position: absolute;
  height: 3.25em;
  right: 0.8em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: $secondary-color;
  background-color: $primary-color;
  outline: 0 none;
}

@media (max-width: 550px) {
  .video-player {
    margin-top: 5%;
  }
}