.navbar{
  min-height: 80px;
  background-color: #ffffff;
  margin-bottom: 0; 
}

.container-fluid{
  width: 90%;
}

.nav > li > a{
  font-weight: 500;  
}
.nav > li > a:hover{
  color: #1aa6c9 !important;
}

.navbar-brand {
  padding: 0;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.nav > li > a > i {
  font-size: 24px;
}

.js-dropdown {
  border: 1px solid;
    padding: 7px 11px;
    border-radius: 50%;
    font-size: 17px;
} 

.bag-bell{
  width: 1em;
  height: 1em;
  position: absolute;
  background-color: #e81212;
  border: 1.5px solid #ffffff;
  border-radius: 50%;
  top: 23px;
  right: 9px;
}

.black-icon{
  color: #000000;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
  
}
@media (max-width: 768px) {
  .bag-bell {
    top: 0.5em;
    right: auto;
    left: 1.8em;
  }
}